.header {
    display: flex;
    margin-bottom: 1.5em;
}

.logo,
.toolbar {
    box-shadow: 0 5px 30px rgba(77, 0, 143, 0.65);

    .left {
        display: grid;
        grid-column-gap: 5px;
        grid-auto-flow: column;
    }
}

.logo {
    display: block;
    height: 55px;
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin-right: 20px;
    flex: 1 0 55px;
}

.toolbar {
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: var(--gradient);
    border-radius: 50px;
    width: 100%;
    padding: 15px;
}
