*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background: var(--bg);
    padding: var(--main-padding);
    min-width: 350px;

    @media #{$laptop} {
        padding-left: 240px;
    }

    &.modal-opened {
        overflow-y: hidden;
    }
}

.current-section {
    font-weight: normal;
    color: #4A4A4A;
    margin: 3em 0 1em 0;
}
