.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1.25em;
}

.post {
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(77, 0, 143, 0.7);

    &__img {
        width: 100%;
    }

    &__content {
        padding: 10px;
    }

    &__title {
        color: white;
        font-size: 1.1em;
        margin: 0;
        margin-bottom: 1em;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__source {
        color: #FB5E0C;
        margin: 0;
        font-size: .7em;
    }

    &.wide {
        grid-column: 1 / -1;
        flex-direction: row;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(77, 0, 143, 0.7);
        background: linear-gradient(to left, #4D008F, #802BC9);

        .post__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 0 60%;
        }

        .post__title {
            margin: 0;
        }
    }

    &.long {
        grid-row: span 2;
        flex-direction: column;

        .post__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }

        .post__title {
            margin: 0;
        }
    }

    &.loading {
        &.long {
            .post__img {
                height: 290px;
                background: radial-gradient(at 50% 50%, #333, #111);
            }
        }
        .post__img {
            height: 120px;
            background: radial-gradient(at 50% 50%, #333, #111);
        }

        .post__title {
            height: 20px;
            width: 80%;
            background: #e1e1e1;
            border-radius: 30px;
        }

        .post__source {
            height: 10px;
            background: #fb5e0c;
            border-radius: 50px;
            width: 35%;
        }
    }
}

.post--modal {
    position: fixed;
    // transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 250ms var(--easing);
    overflow: hidden;
    border-radius: 25px;
    background: var(--gradient);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1200;
    transform: translate3d(0,0,0);
    will-change: top, left, width, height;

    &__back {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__container {
        padding: 10px;
    }

    .post__title {
        color: #111;
        transition: all 250ms var(--easing) 100ms;
    }

    .post__content {
        opacity: 0;
        transform: translate3d(0%, -40%, 0);
        color: #222;
        transition: all 250ms var(--easing) 300ms;
    }

    &.active {
        border-radius: 0;
        background: rgb(243, 243, 243);
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        min-height: 100vh !important;
        overflow-y: auto;

        & .post__content {
            opacity: 1;
            transform: none;
        }
    }

    &.closing {
        & .post__title {
            color: white;
        }
        & .post__content {
            transition: none;
        }
    }
}
