:root {
    --bg: #E7E7E7;
    --main-padding: 20px;
    --accent-orange: #F75C0E;
    --deep-purple: #300159;
    --gradient: linear-gradient(to bottom right, #4D008F, #802BC9);
    --easing: cubic-bezier(0.23, 1, 0.32, 1);
}
