// Credit to: https://loading.io/css/

#main-loader {
    --s: 50px;
    position: absolute;
    width: var(--s);
    height: var(--s);
    top: 17%;
    left: 50%;
    display: block;
    background: var(--shade-6);
    border-radius: 50%;
    transform: translate3d(-50%, -190%, 0);
    opacity: 0;
    visibility: hidden;
    will-change: transform opacity;
    transition: all 250ms var(--easing);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &.loader--show {
        opacity: 1;
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
    }
}
.loader,
.loader:after {
    --s: 45px;
    border-radius: 50%;
    width: var(--s);
    height: var(--s);
}

.loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid var(--shade-1);
    transform: translateZ(0);
    animation: load8 1.1s infinite var(--easing);
}

@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
