.options {
        position: absolute;
        background: var(--shade-0);
        top: 48px;
        right: 10px;
        width: 150px;
        padding: 1em;
        border-radius: 5px;
        display: flex;
        box-shadow: 0 3px 1px var(--shade-1);
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        transform: scale(0) translateX(20px);
        opacity: 0;
        transform-origin: 90% top;
        transition: all 250ms var(--easing);

        &.open {
            visibility: visible;
            opacity: 1;
            transform: none;
        }

        ul {
                list-style: none;
                margin: 0;
                padding: 0;
        }

        .btn {
            border-radius: 5px;
            background: var(--shade-6);
            padding: 0 10px;
        }
}
